.welcome-content {
  margin-top: 7.75rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

.task-container {
  width: 100%;
  padding: 0 1rem;
}

.task-item {
  width: 100%;
  padding: 1.5rem;
}

.task-item.empty {
  border: 1px solid var(--gray);
  text-align: center;
  padding: 2.5rem;
}

.completed {
  margin-bottom: 4rem;
  padding: 0 1rem;
}
