/* Mobile */
section.profile {
  padding: 5.25rem 1rem 3rem 1rem;
}

.profile a {
  display: inline-block;
}

div.change-pfp {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 3rem 0;
}

.profile-container {
  position: relative;
  height: 240px;
  width: 240px;
  /* background-color: red; */
  /* border-radius: 100%; */
}

.profile-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

input.unlink-pfp {
  text-decoration: underline;
  cursor: pointer;
}

label.link-pfp {
  width: 100%;
  margin: 2rem 0 1rem 0;
  background-color: var(--purple);
  color: var(--white);
  font-size: var(--p);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.2s ease;
  border: none;
  display: inline-block;
  padding: 1rem;
}

label.link-pfp:hover {
  background-color: var(--purple-hover);
}

input.unlink-pfp {
  background: none;
  border: none;
  margin-top: 0;
  padding: 0;
  font-size: var(--p);
}

#upload {
  display: none;
}

.account-settings p {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
