main {
  /* background-color: #f3f3f3; */
}

.welcome-content {
  padding-top: 7.75rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.welcome-content p {
  margin-bottom: 2rem;
}

.task-container {
  width: 100%;
  padding: 0 1rem;
}

.task-item {
  width: 100%;
  height: 200px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--gray);
  background-color: var(--nav-gray);
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.task-item:hover {
  color: var(--black);
}

.task-item h3 {
  margin-bottom: 1rem;
}

.task-item.empty {
  border: 1px solid var(--gray);
  background-color: transparent;
  text-align: center;
  padding: 2.5rem;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--nav-gray);
  opacity: 0.75;
  width: 100%;
  height: 100%;
}

.due-date {
  display: flex;
  align-items: center;
}

.due-date p {
  margin-left: 0.5rem;
}
