.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.message-container {
  margin: 1rem 0;
}

.task-info {
  margin-bottom: 2rem;
}

.task-info h1 {
  margin-bottom: 1rem;
}

.forms {
  width: 100%;
}

.forms p {
  margin-bottom: 1rem;
}

.subtask-container {
  margin: 3rem 0;
}

.subtask-item {
  display: flex;
  align-items: center;
  margin: 1rem 0 0.5rem 0;
}

input[type='checkbox'] {
  width: auto;
  background: var(--form-gray);
  display: inline-block;
}

.subtask-item p {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 0 0 0 0.5rem;
}

.subtask-item p.checked {
  text-decoration: line-through;
}

form.subtask {
  display: flex;
  width: 100%;
  align-items: center;
}

form.subtask div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

form.subtask div a {
  margin-left: 1rem;
}

form.subtask .edit {
  color: var(--purple);
}

form.subtask .delete {
  color: var(--error);
}
form.subtask .edit:hover,
form.subtask .delete:hover {
  text-decoration: underline;
}

.form .btn.btn-auto {
  width: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--white);
  background-color: var(--purple);
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container .btn.btn-half {
  width: calc(50% - 0.25rem);
}

.btn.btn-half.delete {
  background-color: #f9f0ef;
  color: var(--error);
  text-align: center;
  /* border: 2px solid var(--error); */
}

.btn.btn-half.delete a {
  color: var(--error);
  width: calc(50% - 0.25rem);
}

.btn.btn-half.delete:hover {
  color: var(--white);
  background-color: var(--error);
}

.btn.btn-half.delete a:hover {
  color: var(--white);
}

/* Desktop */

@media screen and (min-width: 1280px) {
  .form-container {
    flex-direction: row;
  }

  .message-container {
    padding: 0 8rem;
  }

  .forms {
    width: 50%;
    padding: 0 8rem;
  }

  .subtask-container {
    margin: 11rem 0 0 0;
  }
}
